@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;

    line-height: 1.4;
    color: #333;
    background-color: #f2f2f2;
    margin: 0;
    padding: 40px 25px;
}
.main{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    grid-template-rows: repeat(4, 1fr); /* 4 rows */
    gap: 10px; /* Optional: space between blocks */
    z-index: -1;
}

.grid-item{
    display: flex;
    justify-content: flex-start;
    animation: fade-up 1.5s ease;
}

.grid-item__end{
    display: flex;
    justify-content: flex-end;
    animation: fade-up 1.5s ease;
}

.grid-item__right-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-up 1.5s ease;
}

.grid-item__left-bottom{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    animation: fade-up 1.5s ease;
}

.fixed{
    position: fixed;
}

.moto{
    width: 100%;
    text-wrap: wrap;
}

.nl{
    display: block;
}

.logo{
    position: fixed;
    bottom: 10px;
    left: 10;
    width: 98%;
    z-index: -1;
}

.about{
    width: 80%;
}

.social-links{
    list-style: none;
    display: flex;
    gap: 20px;
    text-decoration: underline;
}

ul{
    padding: 0;
    margin: 0;
}   

.links{
    list-style: none;
    text-decoration: underline;
}
.skip{
    height: 100vh;
}

.case-study{
    /* display: block; */

    /* height: 100vh; */
}

.case{
    
    z-index: 1000;
    opacity: 0; /* Скрыт по умолчанию */
    transition: opacity 0 ease, clip-path 0 ease;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.center-flat{
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    /* margin-left: -100px; */
}

.center-flat .case-study__info{
    margin-left: -150px;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 200px;
}

.right-center{
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-right: 200px;
}

.left{
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end; 
    /* margin-right: 200px; */
}

.case1{
    margin: -20px -130px 0 0;
}

.case2{
    margin: 20px 0 0 0;
}

.case-study__info {
    text-align: left; 
    color: rgb(178, 178, 178);
    font-size: 12px;
}

.fs{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.scroll-container {
    position: fixed;
    bottom: 10px; /* Position the horizontal bar at the bottom */
    left: 20px;
    width: 91%;
    height: 180px; /* Height of the horizontal bar */
  }
  
  .scroll-bar {
    height: 100%;
    background-color: #000; /* Color of the visible bar */
    width: 0%; /* Initially set to 0%, will expand based on scroll */
    transition: width 0.3s ease;
  }

  .case-study__image{
    height: 50%;
    width: 50%;
  }
  
  /* When the element becomes visible */
  .case.visible {
    opacity: 1; /* Make it fully visible */
    /* clip-path: inset(0 0 0 0);  */
  }
.case.hidden {
    opacity: 0;
  }

.case-study__image:hover{
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

  @keyframes fade-up{
    0%{
        opacity: 0;
        /* transform: translateY(20px); */
    }

    100%{
        opacity: 1;
        /* transform: translateY(0); */
    }
  }